.main-layout{
    font-size: var(--padding-md);
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--color-background);
}
.main-layout-inner{
    display: flex;
    height: 93vh;

}
.main-container{
    flex: 1;
    padding: var(--padding-md);
}